<div class="row">
  <div class="col-xs-12">
    <img src="http://placehold.it/" class="img-responsive" alt="" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Recipe Name</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
      >
        Manage Recipe<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#"> Add Ingredient</a></li>
        <li><a href="#"> Add Recipe</a></li>
        <li><a href="#"> Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">description</div>
</div>
<div class="row">
  <div class="col-xs-12">Ingredient</div>
</div>
